body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  font-size: 62.5%;
  box-sizing: border-box;
  outline: none;
  color: #092352;
  /* background-image: url("../images/homepage-banner.jpg"); */
}

p,
div {
  font-size: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
:root {
  --off-white: #fafafa;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 1024px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.carousel-container {
  margin: 1rem auto;
  margin-bottom: 4rem;
}
.carousel {
  max-height: 500px;
  max-width: 800px;
}

.carousel-header {
  font-size: 3rem;
}
.carousel-content {
  display: flex;
}

.centered {
  text-align: center;
}

.carousel-text-left {
  padding-left: 2rem;
}

.bullet {
  list-style: none;
}

.separator {
  border-top: 1px solid #333;
  margin-top: 3rem;
}

.eye-care-banner {
  background-image: url("../images/eye-care.jpg");
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}

.eye-care-banner > h1 {
  padding: 1rem;
}

.laboratory-banner {
  background-image: url("../images/laboratory.jpg");
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  margin-bottom: 2rem;
}

.laboratory-banner > h1 {
  padding: 1rem;
  color: #f2f2f2;
}

.branch {
  border-bottom: 1px solid #333;
  display: flex;
}

.branch > div.content {
  width: 30%;
}
.branch > div.content > p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.branch > div.images {
  display: flex;
  width: 70%;
}
.branch > div.images > img {
  max-height: 300px;
  width: 100%;
  padding: 1rem;
}

.appointment {
  margin: 2rem 0;
  margin-left: 2rem;
}

.button {
  border-radius: 5px;
  padding: 1rem;
  background-color: #ffa502;
  color: #fff;
  margin: 2rem 0;
}

.green {
  background-color: #12582f;
}
.blue {
  background-color: #2980b9;
}

.contact {
  margin-top: 2rem;
}

div.logo {
  font-size: 2.5rem;
  color: #092352;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.about-us-images {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.about-us-images > img {
  max-width: 100%;
  height: 500px;
  padding: 1rem;
}

.values > h5 > span.bigger {
  font-size: 1.5rem;
}
.values > h5 > span.content {
  font-weight: normal;
  font-size: 1rem;
}
