body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 245, 247);
  font-size: 62.5%;
  box-sizing: border-box;
  outline: none;
  color: #092352;
  /* background-image: url("../images/homepage-banner.jpg"); */
}

p,
div {
  font-size: 1rem;
}
p {
  margin: 1rem 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  width: 100%;
}

ul ul {
  margin-left: 2rem;
}

ul.left-padded {
  padding-left: 2rem;
}

a,
a:visited {
  text-decoration: none;
  color: #092352;
}
:root {
  --off-white: #fafafa;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 1024px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

a.selected {
  border-bottom: 3px solid #ffa502;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.carousel-container {
  margin: 1rem auto;
  margin-bottom: 4rem;
  width: 95%;
}

.landing-carousel {
  height: 500px;
  background-color: #f2f2f2;
  padding: 1rem;
}

.contact-carousel {
  max-height: 500px;
  max-width: 800px;
  padding: 1rem;
}

.carousel-header {
  font-size: 3rem;
}
.carousel-content {
  display: flex;
}

.centered {
  text-align: center;
}

.carousel-text-left {
  padding-left: 2rem;
}

.bullet {
  list-style: none;
}

.separator {
  /* border-top: 1px solid #333; */
  margin-top: 3rem;
}

.eye-care-banner {
  background-image: url('../images/eye-care.jpg');
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  height: 100px;
}

.eye-care-banner > h1 {
  padding-top: 1rem;
  padding-left: 1rem;
}

.eye-care-banner > p {
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.laboratory-banner {
  background-image: url('../images/laboratory.jpg');
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  margin-bottom: 2rem;
}

.laboratory-banner > h1 {
  padding: 1rem;
  color: orangered;
}

.contact-us-banner {
  background-image: url('../images/map.jpg');
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  margin-bottom: 2rem;
}

.contact-us-banner > h1 {
  padding-top: 1.5rem;
  padding-bottom: 0;
  padding-left: 1rem;
}
.contact-us-banner > p {
  padding: 0 1rem;
  font-size: 1.4rem;
  margin-top: 0;
}

.branch {
  min-height: 32rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(228, 231, 235);
  padding: 1rem;
  background-color: #fff;
  display: flex;
  margin-bottom: 1rem;

  box-shadow: rgba(231, 233, 236, 0.8) 0px 3px 6px 0px,
    rgba(231, 233, 236, 0.6) 0px 1px 4px 0px;
}
.page {
  min-height: 32rem;
  border: none 1px;
  border-style: solid;
  border-color: rgb(228, 231, 235);
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-shadow: rgba(231, 233, 236, 0.8) 0px 3px 6px 0px,
    rgba(231, 233, 236, 0.6) 0px 1px 4px 0px;
}

.branch > div.content {
  width: 30%;
}
.branch > div.content > h4 {
  font-size: 2rem;
}
.branch > div.content > p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.branch > div.images {
  display: flex;
  width: 70%;
}
.branch > div.images > img {
  max-height: 300px;
  width: 100%;
  padding: 1rem;
}

.branch > div.images > div > div.carousel-slider {
  height: 500px;
}

.appointment {
  margin: 2rem 0;
  margin-left: 2rem;
}

.button {
  border-radius: 5px;
  padding: 1rem;
  background-color: #ffa502;
  color: #fff;
  margin: 2rem 0;
}

.green {
  background-color: #12582f;
}

.green-text {
  color: #12582f;
}

.yellow-text {
  color: #ffa502;
}
.red-text {
  color: orangered;
}
.blue {
  background-color: #2980b9;
}

.contact {
  margin-top: 2rem;
}

.contact-number {
  font-size: 2rem;
}
div.logo {
  font-size: 2.5rem;
  color: #092352;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.about-us-images {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
}

.about-us-images > img {
  max-width: 100%;
  height: 500px;
  padding: 1rem;
}

.about-us-images > img.smaller {
  width: 50%;
  height: 500px;
}

.values > h5 > span.bigger {
  font-size: 1.5rem;
}
.values > h5 > span.content {
  font-weight: normal;
  font-size: 1rem;
}

p.phone {
  font-size: 1.8rem;
  font-weight: bold;
}

.header {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0;
}

@media all and (max-width: 768px) {
  .nav {
    display: none;
  }
  .page {
    padding: 2rem 0.5rem;
  }
  .header {
    padding-top: 1.45rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .carousel-header {
    font-size: 1.8rem;
  }

  .carousel-text-left {
    padding: 1rem 0;
  }

  .appointment {
    margin: 1rem 0;
  }

  .landing-carousel {
    height: 100%;
  }

  .carousel-content {
    display: block;
  }

  .slick-slide img {
    width: 100%;
  }
  .about-us-images {
    flex-direction: column;
  }

  .about-us-images {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  .branch {
    display: flex;
    flex-direction: column;
  }

  .branch > div.content {
    width: 100%;
  }

  .branch > div.images {
    width: 100%;
  }
  .about-us-images > img.smaller {
    width: 100%;
  }
  p {
    margin: 0.5rem 0;
  }
}
